html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif !important;
    height: 100%;
    background-color: #333333;
}

#container {
    background-color: white;
}

#header {
    height: 240px;
    background-color: #99cccc;
    background-image: url('../../Assets/header_bg.png');
    background-repeat: repeat;
    text-align: center;
}

#header-logo {
    height: 80px;
    background-image: url('../../Assets/logo.png');
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 4em;
}

#header-name {
    height: 40px;
    text-align: center;
    font-weight: lighter;

}

#header-name > span {
    font-weight: bold;
}

#nav-bar {
    height: 65px;
    background-color: #333333;
    border: 1px solid;
    border-radius: 7px;
    margin-top: -30px;
    text-align: center;
}

#nav-section {
    height: 60px;
    width: 550px;
    text-align: center;
    display: inline-block;
}

#nav-list {
    text-align: right;
    width: 550px;
    margin: auto !important;
    display: inline-block;
}

#nav-list > li {
    padding: 0px 20px;
    line-height: 60px;
    vertical-align: middle;
}

#nav-list > li > a{
    color: #99cccc;
}

#nav-list > li > a:hover{
    color: white;
}

#footer {
    height: 100px;
    border-top: 1px solid black;
}

#footnote {
    vertical-align: bottom;
    text-align: center;
    margin-top: 2em;
    color: #595959;
    font-size: .8em;
}

#jumbotron {
    background-color: #99cccc;
}

#description {
    vertical-align: top;
}

#description > p {
    font-weight: lighter;
    font-color: #333333;
}

#description > p > span{
    font-weight: 600;
}

#image {
    background-image: url('../../Assets/ship.png');
    background-repeat: no-repeat;
}

#button {
    background-color: #666666;
    border-bottom: 6px solid #333333;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: lighter;
}

#button {
    transition:background-color 1s;
}

#button:hover {
    background-color: #444444;
    border-bottom-color: #222222;
    color: #cccccc;
}

.block-link > .block-section {
    transition:background-color 1s;
}

.block-link > .block-section:hover {
    background-color: #444444;
}

.block-section {
    background-color: #666666;
    color: white;
    font-family: 'Open Sans', sans-serif !important;
    border-radius: 7px;
}

.upper-block {
    border-bottom: 1px solid #555555;
    vertical-align: middle;
}

.middle-block {
    border-top: 1px solid #777777;
}

.lower-block > p {
    font-weight: lighter;
}

.cost {
    height: 100px;
    text-align: center;
}

.cost > span {
    font-size: 4em;
    font-weight: lighter;
    line-height: 100px;
    vertical-align: bottom;
}

.middle-border {
    background-color: white;
    border: 1px solid #555555;
}

.lower-third-block {
    vertical-align: middle;
}

.lower-third-block > span {
    color: white;
}

.lower-third-block > img {
    margin-bottom: 10px;
    margin-left: 10px;
    height: 1.3em;
}

/* Large up */
@media only screen and (min-width: 64.063em) {

    #container {
        height: 1020px;
    }

    #header-logo {
        background-size: 150px;
        width: 150px;
    }


    #header-name {
        font-size: 1.7em;
    }

    #content {
        height: 750px;
        margin: 0px 40px 0px 40px;
    }

    #jumbotron {
        border-radius: 7px;
        margin-top: 45px;
        height: 320px;
    }

    #description {
        display: inline-block;
        width: 530px;
        height: 240px;
        margin: 40px 20px 40px 60px;
    }

    #description > p {
        font-size: 1.75em;
        line-height: 40px;
        margin-top: 20px;
    }

    #jumbo-logo {
        display: inline-block;
        width: 240px;
        margin: 40px 40px 40px 20px;
        vertical-align: top;
        height: 240px;
    }

    #image {
        background-size: 240px;
        height: 170px;
        margin-top: -60px;
        margin-bottom: 45px;
        display: inline-block;
        width: 240px;
        vertical-align: top;

    }

    #button {
        height: 60px;
        width: 240px;
        line-height: 60px;
    }

    #button > span {
        font-size: 1em;
    }

    .block-section {
        height: 300px;
        margin: 40px 0px;
        text-align: center;
        width: 300px;
    }

    .upper-block {
        width: 280px;
        height: 70px;
        line-height: 50px;
        padding-bottom: 20px;
        padding-top: 10px;

    }

    .upper-block > span {
        font-size: 1.4em;
    }

    .middle-block {
        height: 120px;
        padding-top: 20px;
    }

    .lower-block {
        padding-top: 20px;
        margin: 20px 35px 10px 35px;
    }

    .lower-block > p {
        font-size: .9em;
    }

    .middle-border {
        height: 10px;
        margin: 0px 30px;
    }

    .upper-third-block {
        height: 120px;
        border-bottom: 1px solid #555555;
    }

    .upper-third-block > p {
        padding-top: 20px;
        margin-bottom: 0px;
        font-size: .9em;
    }

    .upper-third-block > span,
    .middle-third-block > span {
        font-size: 2.7em;
        font-weight: lighter;
    }

    .middle-third-block {
        height: 120px;
        border-top: 1px solid #777777;
        border-bottom: 1px solid #555555;
    }

    .middle-third-block > p {
        padding-top: 20px;
        margin-bottom: 0px;
    }

    .lower-third-block {
        line-height: 60px;
        height: 60px;
        border-top: 1px solid #777777;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        transition:background-color 1s;
    }

    .lower-third-block:hover{
        background-color: #444444;
    }

    .lower-third-block > span {
        font-size: 1.4em;
        font-weight: lighter;
    }

    .lower-third-block > img {
        font-size: 1.5em;
    }

}

/* Medium up */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

    #container {
        height: 1400px;
    }

    #header-logo {
        background-size: 140px;
        width: 140px;
    }

    #header-name {
        font-size: 1.5em;
    }

    #content {
        height: 1160px;
        margin: 0px 40px 0px 40px;
    }

    #jumbotron {
        border-radius: 7px;
        margin-top: 45px;
        height: 525px;
    }

    #description {
        width: 80%;
        height: 15%;
        text-align: center;
        margin: auto;
    }

    #description > p {
        font-size: 2em;
        line-height: 43px;
        margin-top: 20px;
    }

    #image {
        background-size: 280px;
        height: 175px;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -7px;

    }

    #button {
        height: 70px;
        width: 300px;
        line-height: 70px;
        margin-right: auto;
        margin-left: auto;
    }

    #button > span {
        font-size: 1.2em;
    }

    .block-section {
        height: 220px;
        margin: 40px 0px 0px 0px;
    }


    .left-block {
        width: 46%;
        height: 220px;
        border-right: 1px solid #555555;
        padding-top: 40px;
        text-align: center;
        float: left;
    }

    .right-block {
        width: 54%;
        height: 220px;
        border-left: 1px solid #777777;
        padding-top: 40px;
        text-align: left;
        display: inline-block;
        padding: 70px;
    }

    .right-block > span {
        font-size: 1.4em;
        font-weight: bold;

    }

    .right-block > p {
        font-size: 1em;
        font-weight: lighter;
        margin-top: 1em;
    }

    .middle-border {
        height: 12px;
        margin: 0px 19%;
    }

    .lower-third-block {
        vertical-align: middle;
        line-height: 100px;
        height: 100px;
        margin-right: auto;
        margin-left: auto;
        width: 210px;
    }

    .lower-third-block > span {
        font-size: 1.5em;
        padding-right: 15px;
    }

    .lower-third-block > img {
        font-size: 2em;
    }

    #more-deals {
        height: 100px;
        background-color: #99cccc;
    }

}
 
/* Small down */
@media only screen and (max-width: 40em) {
    #container {
        height: 1625px;
    }

    #nav-logo {
        margin: 10px 5px 10px 20px;
        height: 25px;
        background-image: url(../Assets/logo.png);
    }

    .name {
        color: #99cccc;
        font-weight: lighter;
        border-top: 4px solid #99cccc;
    }

    .name > span {
        font-weight: lighter;
        font-size: 1.5em;
        line-height: 40px;
        vertical-align: middle;
    }

    .name > span > #star {
        font-weight: 600;
    }

    #toggle-icon {
        height: 30px;
        margin-right: 10px;
    }

    .left > li {
        border-top: 1px solid #99cccc;
    }

    .left > li > a {
        color: #99cccc !important;
        font-size: 1em !important;
    }


    #content {
        height: 1625px;
    }

    #small-content {
        padding: 0px;
    }

    #footnote {
        width: 300px;
        margin-right: auto;
        margin-left: auto;
    }

    #jumbotron {
        padding-top: 60px;
        height: 700px;
    }

    #description {
        width: 78%;
        height: 15%;
        text-align: center;
        margin: auto;
    }

    #description > p {
        font-size: 1.95em;
        line-height: 40px;
        margin-top: 50px;
    }

    #image {
        background-size: 290px;
        height: 175px;
        width: 290px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -7px;

    }

    #button {
        height: 70px;
        width: 79%;
        line-height: 70px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
    }

    #button > span {
        font-size: 1.2em;
    }

    .block-section {
        width: 84%;
        height: 350px;
        margin: 60px 9% 0px 9%;
    }

    .upper-block {
        width: 100%;
        height: 75px;
        line-height: 75px;
        text-align: center;
        margin: 0px;
    }

    .upper-block > span {
        font-size: 1.5em;
    }

    .middle-block {
        height: 170px;
        padding-top: 30px;
    }

    .lower-block {
        padding-top: 15px;
        height: 105px;
        text-align: center;
    }

    .lower-block > p {
        font-size: 1em;
        margin-right: 25%;
        margin-left: 25%;
    }

    .middle-border {
        height: 12px;
        margin: 0px 26%;;
    }

    .lower-third-block {
        line-height: 85px;
        height: 85px;
        margin-right: auto;
        margin-left: auto;
        width: 210px;
    }


    .lower-third-block > span {
        font-size: 1.5em;
        padding-right: 15px;
    }

    .lower-third-block > img {
        font-size: 2em;
    }

    #more-deals {
        height: 85px;
        background-color: #99cccc;
    }


}

